@import '../../styles/vars.scss';

.sidebar {
	height: calc(100vh - 52px);
	background: #000;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

nav,
.my-playlists {
	display: flex;
	flex-direction: column;
	align-items: center;
	ul {
        width: 80%;
        padding: 0.5rem 0;
		a {
			display: block;
		}
		li {
			padding: 0.75rem;
			cursor: pointer;
			transition: all 200ms ease;
			&:hover {
				background: $dk-grey;
			}
		}
	}
}
nav ul {
	border-bottom: 2px solid rgb(83, 84, 85);
}

.my-playlists {
	flex-grow: 1;
	font-size: 0.9rem;
	overflow: overlay;
}

.player-preview {
	padding-top: 1rem;
	min-height: 240px;
	overflow: hidden;
	border-top: 2px solid rgb(83, 84, 85);
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media screen and (max-width:768px){
    .grid-container .sidebar{
        position: absolute;
        z-index: 2;
        left: -105%;
        height: calc(100vh - 52px);
        width: 200px;
        transition: all 800ms ease;
        &.show-menu{
            left: 0%;
        }
        .player-preview {
            min-height:200px;
        }
    }
}
