.grid-container {
    max-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: 268px 1fr;
    .logo{
        grid-area: 1/1;
    }
	header {
		grid-area: 1/2;
	}
	.sidebar {
		grid-area: 2/1/-1/2;
	}
	.main-content-con {
		grid-area: 2/2;
        overflow-y: overlay;
	}
    .player{
        grid-area: 3/2;
    }
}

.main-content-con {
    overflow: overlay;
	width: 100%;
    height: 100%;
    padding: 1.5rem 3rem;
}
