@import '../../styles/vars.scss';

.login-con{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    a{
        background-color: $green;
        padding:1rem;
        border-radius: 8px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
        font-weight: 600;
    }
}